.main-container {
    max-width: 70%;
    margin: 0 auto;
}

.block {
    margin: .75rem 0;
    padding: 1rem;
    background-color: var(--dark-gray);
    border: var(--border-var);
    border-radius: 10px;
}

.payment button {
    background-color: var(--light-brown);
    color: whitesmoke;
    padding: .5rem;
    border: var(--border-var);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
}

.payment button:hover {
    background-color: var(--dark-brown);
    color: var(--link-highlight);
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-wrapper>div {
    width: 100%;
}

@media (min-width: 600px) {
    .bottom-wrapper>div {
        width: 46.5%;
    }
}