.chevron {
    width: 1.5rem;
    transition: transform 0.1s ease-in-out;
}

.chevron-path {
    fill: var(--dark-branding);
}

.chevron.rotate {
    transform: rotate(90deg);
    transition: transform 0.1s ease-in-out;
}

.dropdown-section {
    border-radius: 10px;
    background-color: var(--dark-gray);
    margin: 1rem auto;
    padding: 1rem;
}

.dropdown-header {
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
}

.dropdown-header.underline {
    border-bottom: var(--border-var);
}

.command-details {
    display: none;
}

.command-details.show {
    display: block;
    margin-top: 10px;
}

.code-block, .ping-block {
    border-radius: 5px;
    padding: 0px .2rem;
    margin: auto .1rem;
}

.code-block {
    background-color: var(--light-gray);
    color: var(--dark-branding);
}

.ping-block {
    background-color: var(--dark-branding);
    color: whitesmoke;
}