/* START INTRO SECTION */

.intro_section {
    margin: 3rem;
}

.intro_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.intro_text p:first-child {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.intro_text span {
    color: var(--dark-branding);
}

.typewriter {
    margin: 0;
    color: gray;
    width: 20ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-size: 1.5rem;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.add-to-discord-btn {
    background-color: var(--dark-branding);
    color: whitesmoke;
    border: var(--border-var);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.add-to-discord-btn:hover {
    background-color: var(--dark-brown);
    color: var(--link-highlight);
}

/* END INTRO SECTION */


/* INFO SECTION */

.info_section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
}

.content_section {
    width: 30%;
    background-color: var(--dark-gray);
    padding: 1.5rem;
    margin: .75rem;
    /* border: var(--border-var); */
    border-radius: 10px;
    position: relative;
}

.content_section:first-child::before {
    content: "";
    position: absolute;
    width: 9rem;
    height: 9rem;
    background-image: url("../Media/Flowers/curved_branch.png");
    background-size: cover;
    bottom: -3rem;
    left: -2.5rem;
    transform: rotate(180deg);
}

.content_section:last-child::before {
    content: "";
    position: absolute;
    width: 9rem;
    height: 9rem;
    background-image: url("../Media/Flowers/curved_branch.png");
    background-size: cover;
    top: -3rem;
    right: -2.5rem;
}

.content_section .title {
    font-weight: bold;
    position: absolute;
    top: -.65rem;
    left: -.65rem;
    background-color: var(--dark-branding);
    border: var(--border-var);
    border-radius: 10px;
    padding: 5px 10px;
}

.content_section .text {
    margin: 3rem 2rem 2rem 2rem;
}

.content_section .learn_more {
    margin: 2rem;
}

.content_section .learn_more a {
    color: whitesmoke;
    font-weight: bold;
}

.content_section .learn_more a:hover {
    color: var(--link-highlight);
}

.content_section img {
    width: 100%;
    margin-top: 2rem;
    filter: drop-shadow(0 0 0.4rem var(--border-colour));
}

@media screen and (max-width: 768px) {
    .intro_text p:first-child {
        font-size: 2rem;
    }

    .info_section {
        flex-direction: column;
        align-items: center;
    }

    .content_section {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .typewriter {
        font-size: 1rem;
    }
}

/* END INFO SECTION */
