.navbar_container {
    margin: 8px;
    padding: 15px;
    border: var(--border-var);
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 44px;
    display: flex;
    align-items: center;
}

.logo p {
    margin: 0;
    color: #ffeba9;
    font-size: 24px;
}

#logo_img {
    height: 44px;
    transform: rotate(0deg);
    transition: transform 0.65s ease-in-out 0s;
}

#logo_img:hover {
    transform: rotate(360deg);
    transition: transform 0.65s ease-in-out 0s;
}

.desktop {
    display: flex;
    width: 100%;
}

.desktop p a:hover {
    color: var(--link-highlight);
}

.navbar_container p {
    margin: 10px;
}

.navbar_container p a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.icon_formatting {
    border-radius: 50%;
    max-height: 44px;
    margin-left: auto;
}

.logout_svg {
    width: 24px;
    height: 24px;
    margin: 10px;
    fill: whitesmoke;
    transition: fill 0.3s ease;
}

.logout_svg:hover {
    fill: var(--link-highlight);
    transition: fill 0.3s ease;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: right;
        position: relative;
        color: whitesmoke;
    }

    .mobile p {
        margin: 0;
        padding: 10px;
    }

    .dropdown_content {
        text-align: right;
        display: none;
        position: absolute;
        top: 45px;
        background-color: var(--dark-gray);
        border-radius: 10px;
        border: var(--border-var);
        z-index: 1;
    }

    .dropdown_content p {
        margin: 0;
        padding: 7px 15px;
    }

    .mobile:hover .dropdown_content {
        display: block;
    }

}