:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    --light-branding: #ffeba9;
    --dark-branding: #ff795c;
    --dark-brown: #5f1210;
    --light-brown: #883636;
    --dark-gray: #23272A;
    --light-gray: #282c34;
    --sat-red: #ff5a52;
    --footer-height: 70px;
    --border-colour: var(--sat-red);
    --link-highlight: var(--dark-branding);
    background-color: var(--light-gray);
}

/* START BODY */

body {
    margin: 0;
    position: relative;
}

main {
    margin: 2rem 1rem;
    padding: 15px 0;
    border-radius: 10px;
    color: whitesmoke;
}

/* END BODY */