:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    --light-branding: #ffeba9;
    --dark-branding: #ff795c;
    --dark-brown: #5f1210;
    --light-brown: #883636;
    --dark-gray: #23272A;
    --light-gray: #282c34;
    --sat-red: #ff5a52;
    --footer-height: 70px;
    --border-colour: var(--sat-red);
    --link-highlight: var(--dark-branding);
    --border-var: 3px solid var(--sat-red);
    background-color: var(--light-gray);
    background-image: linear-gradient(346deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 22%,rgba(140, 140, 140,0.04) 22%, rgba(140, 140, 140,0.04) 69%,rgba(225, 225, 225,0.04) 69%, rgba(225, 225, 225,0.04) 100%),linear-gradient(31deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 42%,rgba(140, 140, 140,0.04) 42%, rgba(140, 140, 140,0.04) 85%,rgba(225, 225, 225,0.04) 85%, rgba(225, 225, 225,0.04) 100%),linear-gradient(55deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 13%,rgba(140, 140, 140,0.04) 13%, rgba(140, 140, 140,0.04) 72%,rgba(225, 225, 225,0.04) 72%, rgba(225, 225, 225,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    
}

/* START BODY */

body {
    margin: 0;
    position: relative;
}

main {
    margin: 2rem 1rem;
    padding: 15px 0;
    border-radius: 10px;
    color: whitesmoke;
}

.header-text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: whitesmoke;
}

/* END BODY */