:root {
    background-color: #282c34;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    --light-branding: #ffeba9; 
}

body {
    margin: 0;
}

.navbar_container {
    margin: 8px;
    padding: 15px;
    border: solid 2px #ffeba9;
    border-radius: 10px;
    background-color: #23272A;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 44px;
    display: flex;
    align-items: center; /* vertically center the items */
}

.logo p {
    margin: 0;
    color: #ffeba9;
    font-size: 24px;
    font-weight: 600;
}

#amari_text {
    margin-right: auto; /* push the first <p> element to the left */
}

#bot_text {
    margin-left: auto; /* push the last <p> element to the right */
}

#logo_img {
    height: 44px;
}

.menu {
    display: flex;
    width: 100%;
}

.menu h5 a:hover {
    color: var(--light-branding);
}

.navbar_container h5 {
    margin: 10px;
}

.navbar_container h5 a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.icon_formatting {
    border-radius: 50%;
    border: solid 2px var(--light-branding);
    max-height: 44px;
    margin-left: auto;
}

#logout_svg {
    width: 24px;
    height: 24px;
    margin: 10px;
    padding-left: 10px;
}

.footer {
    background-color: var(--light-branding);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.wave-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.wave .shape-fill {
    fill: #FFEBA9;
}

