:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    --light-branding: #ffeba9;
    --dark-branding: #ff795c;
    --dark-brown: #5f1210;
    --light-brown: #883636;
    --dark-gray: #23272A;
    --light-gray: #282c34;
    --footer-height: 70px;
    --border-colour: var(--dark-brown);
    --link-highlight: var(--dark-branding);
    background-color: var(--light-gray);
}

/* START BODY */

body {
    margin: 0;
    position: relative;
}

main {
    margin: 30px;
    padding: 15px 0;
    border: solid 2px var(--border-colour);
    border-radius: 10px;
    background-color: var(--dark-gray);
    color: whitesmoke;
}

.intro_section {
    margin: 50px;
}

.intro_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.intro_text p:first-child {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.intro_text span {
    color: var(--dark-branding);
}

.typewriter {
    margin: 0;
    color: gray;
    width: 20ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 24px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.add-to-discord-btn {
    background-color: var(--light-brown);
    color: whitesmoke;
    border: 2px solid var(--border-colour);
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease-in-out;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.add-to-discord-btn:hover {
    background-color: var(--dark-brown);
    color: var(--link-highlight);
}

/* INFO SECTION */

.info_section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content_section {
    width: 30%;
    background-color: var(--light-gray);
    padding: 1.5rem;
    margin: .75rem;
    border: var(--dark-brown) solid 2px;
    border-radius: 10px;
    position: relative;
}

.content_section .title {
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: var(--dark-gray);
    border: var(--dark-brown) solid 2px;
    border-radius: 10px;
    padding: 5px 10px;
}

.content_section .text {
    margin: 40px 25px 25px 25px;
}

.content_section .learn_more {
    margin: 25px;
}

.content_section .learn_more a {
    color: whitesmoke;
    font-weight: bold;
}

.content_section .learn_more a:hover {
    color: var(--link-highlight);
}

.content_section img {
    width: 100%;
    margin-top: 25px;
    filter: drop-shadow(0 0 0.4rem var(--dark-brown));
}

@media screen and (max-width: 768px) {
    .info_section {
        flex-direction: column;
        align-items: center;
    }

    .content_section {
        width: 80%;
        margin-bottom: 20px;
    }
}

/* END INFO SECTION */

.server_count {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    justify-content: center;
}

.server_count img {
    max-width: calc((100% / 6) - 5%);
    height: auto;
    margin-right: 5px;
    flex-grow: 1;
}

/* END BODY */